@model admin.Data.TaiKhoan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
            </div>

        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Admin Caffe Hog Đào</h1></a>
            <div class="d-flex m-3 me-0">
                <a href="#" class="my-auto">
                    <i class="fas fa-user fa-2x"></i>
                </a>
            </div>
        </nav>
    </div>

</div>
<!-- Navbar End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="AdminTaiKhoans" asp-action="Index"><i></i>Quản lý tài khoản</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="AdminLoaiTaiKhoans" asp-action="Index"><i></i>Quản lý loại tài khoản</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i></i>Quản lý sản phẩm</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="AdminLoaiSps" asp-action="Index"><i></i>Quản lý loại sản phẩm</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i></i>Quản lý đơn hàng</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i></i>Tổng doanh thu</a>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i></i>Quản lý khuyến mãi</a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="col-lg-9">
                            <!-- Content -->
                            <div class="row g-4 justify-content-center">
                                <div class="col-md-12 col-lg-12 col-xl-12">

                                    <h4>Thêm Tài Khoản</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <form asp-action="Create">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="TenDn" class="control-label"></label>
                                                    <input asp-for="TenDn" class="form-control" />
                                                    <span asp-validation-for="TenDn" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="MatKhau" class="control-label"></label>
                                                    <input asp-for="MatKhau" class="form-control" />
                                                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="HoTen" class="control-label"></label>
                                                    <input asp-for="HoTen" class="form-control" />
                                                    <span asp-validation-for="HoTen" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Email" class="control-label"></label>
                                                    <input asp-for="Email" class="form-control" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Sdt" class="control-label"></label>
                                                    <input asp-for="Sdt" class="form-control" />
                                                    <span asp-validation-for="Sdt" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="DiaChi" class="control-label"></label>
                                                    <input asp-for="DiaChi" class="form-control" />
                                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="IdLoaiTk" class="control-label"></label>
                                                    <select asp-for="IdLoaiTk" class="form-control" asp-items="ViewBag.LoaiTk"></select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Thêm" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div>
                                        <a asp-action="Index">Trở lại</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>



